---
pagination:
    data: collections.post
    size: 20
    reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
title: Blog
---
{% include 'header.njk' %}
			<header>
				<h1>Benad's Web Site</h1>
				<h2>{{ title }}</h2>
			</header>
			<div class="site-layout">
{% include 'sidebar.njk' %}
				<section>
{#- This assumes that items are ordered Date values -#}
{%- set prevYear = 0 -%}
{%- for post in pagination.items -%}
{%- set curYear = post.date | parseDateString | getYear -%}
{%- if curYear != prevYear %}
				<h3>{{ curYear }}</h3>
{%- endif -%}
{%- set prevYear = curYear %}
				<p>{{ post.date | parseDateString | readableDate("LLLL d, yyyy")}}: <a href="{{ post.url }}">{{ post.data.title }}</a></p>
{%- endfor %}
				{% if pagination.href.next %}<p><a href="{{ pagination.href.next }}">Older posts</a> <a href="{{ pagination.href.last }}">Oldest posts</a></p>{% endif %}
				{% if pagination.href.previous %}<p><a href="{{ pagination.href.first }}">Latest posts</a> <a href="{{ pagination.href.previous }}">Newer posts</a></p>{% endif %}
				</section>
			</div>
{% include 'footer.njk' %}