---
permalink: "blog/{{ page.date | getYear }}/{{ page.date | getMonth }}/{{ page.date | getDay }}/{{ title | slugify }}/"
---
{% include 'header.njk' %}
                <div class="row">
                <h1 class="title">Benad's Web Site</h1>
                <h2 class="pageheader">{{ title }}</h2>
        </div>
        <div class="row">
{% include 'sidebar.njk' %}
            <div class="span8 offset2">
                {{ content | safe }}
                <p>Published on {{ page.date | readableDate("LLLL d, yyyy 'at' T ZZZZ", zone) }}</p>
                {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
                {% set nextPost = collections.post | getNextCollectionItem(page) %}
                {% if previousPost %}<p>Older post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
                {% if nextPost %}<p>Newer post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
            </div>
        </div>
{% include 'footer.njk' %}