<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ title }} - Benad's Web Site</title>
		<meta name="description" content=""/>
		<link rel="stylesheet" href="/css/oat.min.css"/>
		<link rel="stylesheet" href="/css/main.css"/>
		<script src="/js/oat.min.js" defer></script>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="//feeds.feedburner.com/benad">
	</head>
	<body>
		<main style="max-width: 960px; margin: 0 auto; padding: var(--space-4);">