        <div class="span2 pull-right sidebar">
                <p><a href="/index.html">Home</a></p>
                <p><a href="/blog">Blog</a></p>
                <p><a href="/me.html">About Me</a></p>
                <p><a href="/meta.html">About This Site</a></p>
                <p><a href="/articles.html">Articles</a></p>
                <p><a href="/links.html">Links</a></p>
        </div>
