{% include 'header.njk' %}
			<header>
				<h1>Benad's Web Site</h1>
				<h2>{{ title }}</h2>
			</header>
			<div class="site-layout">
{% include 'sidebar.njk' %}
				<section>
				{{ content | safe }}
				</section>
			</div>
{% include 'footer.njk' %}